<!-- Links to force IPFS gateways to cache the website -->

<% mirrors = %w[
  https://ipfs.io/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://gateway.pinata.cloud/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc.ipns.dweb.link/
  https://cloudflare-ipfs.com/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  http://k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc.ipns.cf-ipfs.com/
  https://ipfs.best-practice.se/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://video.oneloveipfs.com/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://ipfs.eth.aragon.network/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://ipfs.2read.net/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://birds-are-nice.me/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://ipfs.sloppyta.co/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://jorropo.net/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://ipfs.xoqq.ch/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://10.via0.com/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://bin.d0x.to/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://ninetailed.ninja/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://ipfs.greyh.at/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://ipfs.denarius.io/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://ipfs.smartholdem.io/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://ipfs.noormohammed.tech/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://ipfs.mihir.ch/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
  https://crustwebsites.net/ipns/k51qzi5uqu5ditckag7gw12c301kwxac5fpobs62i21uysuiry3bobotvbenmc/
].each(&:freeze).freeze %>

<div class="container my-4">
  <ul>
    <% mirrors.each do |mirror| %>
      <li><a href="<%= mirror %>"><%= mirror %></a></li>
    <% end %>
  </ul>
</div>
