---
title: ~Sources
---
<div class="container mb-4">
  <% data.sources.each do |source| %>
    <div class="mt-4">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-2">
            <%= image_tag "sources/#{source.id}.png",
                          class: 'card-img-top',
                          alt: source.title %>
          </div>

          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">
                <%= source.title %>
              </h5>

              <%= link_to source.url, source.url, class: 'card-link' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
