---
title: ~Our_team
---
<div class="container mb-4">
  <div class="row">
    <% team_members.each do |team_member| %>
      <div class="col-sm-6 col-lg-4">
        <div class="card mt-4">
          <%= image_tag "team/#{team_member.id}.jpg",
                        class: 'card-img-top',
                        alt: team_member.full_name.translate_to(I18n.locale) %>

          <div class="card-body">
            <h5 class="card-title">
              <%= team_member.translate_full_name_to I18n.locale %>
            </h5>

            <h6 class="card-subtitle mb-2 text-muted">
              <%= team_member.description.translate_to I18n.locale %>
            </h6>

            <% team_member.links.each do |link| %>
              <%= link_to link.title, link.url, class: 'card-link' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
