---
title: Carmina Burana
---
<div class="container my-4">
  <video
    controls
    poster="https://ipfs.io/ipfs/QmZibtKMj8QFiHjeuosbfuYSB66mxVoXtSkgrycPUYdH1x/thumbnail.jpg"
  >
    <source
      type='video/mp4; codecs="avc1.4D401F, mp4a.40.2"'
      src="https://ipfs.io/ipfs/QmZibtKMj8QFiHjeuosbfuYSB66mxVoXtSkgrycPUYdH1x/video1.mp4"
    />
    <source
      type='video/webm; codecs="vp9, opus"'
      src="https://ipfs.io/ipfs/QmZibtKMj8QFiHjeuosbfuYSB66mxVoXtSkgrycPUYdH1x/video2.webm"
    />
  </video>
</div>
