---
title: ~Videos
---
<div class="container mb-4">
  <% data.videos.each do |video_data| %>
    <div class="mt-4">
      <%= partial 'video_card', locals: { video_data: video_data } %>
    </div>
  <% end %>
</div>
